annotated-types==0.7.0
appdirs==1.4.4
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
grpcio==1.65.0
grpcio-status==1.62.2
httplib2==0.22.0
idna==3.7
llvmlite==0.43.0
numba==0.60.0
numpy==1.26.4
proto-plus==1.24.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1-modules==0.4.0
pydantic==2.8.2
pydantic-core==2.20.1
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.32.3
rply==0.7.7
rsa==4.9
tqdm==4.66.4
typing-extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
matplotlib==3.7.1
networkx==3.1
Pygments==2.15.1